.app {
  min-height: 100vh;
  background: #eeeeee;
}

.app .app__content {
  height: 100%;
}

.form-container {
  max-width: 560px;
}

.form-container .form-container__form {
  background: #ffffff;
}

.spacer-60 {
  height: 60px;
}