.app {
  height: 100vh;
  background: #eeeeee;
}

.app .app__header {
  position: fixed;
  background: #563D7B;
  color: #fff;
  width: 100vw;
  left: 0;
  top: 0;
}

.app .app__content {
  height: 100%;
}