.app {
  min-height: 100vh;
  background: #eeeeee;
}

.app .app__header {
  position: fixed;
  background: #563D7B;
  color: #fff;
  width: 100vw;
  left: 0;
  top: 0;
  max-height: 60px;
  z-index: 999;
}

.app .app__content {
  height: 100%;
}

.form-container {
  max-width: 560px;
}

.form-container .form-container__form {
  background: #ffffff;
}

.spacer-60 {
  height: 60px;
}